<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body>
<div id="main_form" align="center">
    <h1 id="login_lg">Login Page</h1>
    <form id="login_form" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input id="form_input" type="submit" value="submit">
    </form><br>
    <a id="forgot" href="/fgu">Forgot password</a><br><br>
    <a id="back" href="/auth">Back</a>
</div>
</body>
</html>