body{
    background-image: url('/static/images/chatapp_signup1.jpg');
    background-size: cover;
}
div#main {
    display: inline-block;
    background-color: #ffffffb3;
    min-height: 300px;
    width: 500px;
    position: relative;
    left: 500px;
    top: 40px;
    border-radius: 20px;
    padding: 10px;
}
h1#reset {
    font-family: math;
    font-weight: bolder;
}
p {
    font-size: 20px;
    font-family: math;
    font-weight: bolder;
}
a#back {
    display: flex;
    background-color: black;
    text-decoration-line: none;
    color: white;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    font-family: math;
}
input#form_inp {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
}