body{
    background-image: url('/static/images/chatapp_signuppage.jpg');
    background-size: cover;
}
div#main {
    background-color: white;
    min-height: 250px;
    width: 400px;
    position: relative;
    left: 550px;
    top: 70px;
    padding: 20px;
    border-radius: 20px;
}
h1#username {
    font-family: math;
    font-weight: bold;
}
p {
    font-family: math;
    font-size: 20px;
    font-weight: bolder;
}
input#form_inp {
    background-color: black;
    color: white;
    height: 40px;
    width: 150px;
    font-size: 20px;
    border-radius: 10px;
}
a#back {
    display: flex;
    background-color: black;
    text-decoration-line: none;
    color: white;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    font-family: math;
}