<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fg_username_page.css' %}">
</head>
<body>
<div id="main" align="center">
    <h1 id="username"> Enter Username</h1>
    <form id="form" method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input id="form_inp" type="submit" value="submit">
    </form><br>
    <a id="back" href="/accounts/login">Back</a>
</div>
</body>
</html>